.term-title {
              margin: 5px;
              
              color: #1C82B9;
              }
.term-optional-title {
                       font-weight: bold;
                       font-size: 1.3em;
                       }
.question {
            /*margin: 5px;*/
            /*	background-color: #55b3e5;
               color: #fff;
               font-size: 135%;
               */	font-weight: normal;
            }
.question-footer {
                   clear: both;
                   }
.question-text {
                 margin: 20px;
                 }
.question-options {
                    /* float:left;*/
                    margin-left: 35%;
                    margin-bottom: 0px;
                    padding: 10px;
                    }
.answer { font-style: italic; }
.option {
/*          float:left;*/
          margin: 0 30px 0 0;
          font-size: 1.25em;
          width: 400px; 
          clear: both;
          }
.option-input {
                float: left;
                width: 5%;
}
.option-text {
               width: 80%;
               float: left;
}
.question-error {
  float: left;
  font-size: 75%;
  color: red;
}
.invisible {
  display: none;
}
.selected {
	/*border: 1px solid #dddefa;
	padding: 5px;
	
	width: 6%;
	
	font-family: sans-serif;
	font-size: 13px;
	
	margin: 0 35px;*/
	
	border: 1px solid #55b3e5;
	width: 60%;
	margin: 10px 50px;
	padding: 0;
	
/*  border: 1px solid;
  border-color: red; */
  background: white;
}
.selected h2, .deselected h2 {
	background-color: #55b3e5;
	color: #fff;
	margin: 0;
	padding: 10px;
	display: block;
}

.selected p {
	padding: 0;
/* 	margin: 20px; */
}

.deselected {
/*  border: 0px;
  background: #abc;
	border: 1px solid #55b3e5;
	width: 60%;
	margin: 10px 50px;
	background-color: #55b3e5; */
  display: none;
}
.unselected {
  display: none;
}
.gather-text {
  width: 20%;
  padding: 2px;
  border: 1px dotted;
}
.filter-date {
  text-align: center;
  border: 1px dotted;
}
.date-text {
  margin: 1px;
  text-align: center;
  border: 0px;
  background: #fff;
}
.continue {
	clear: left;
	border: 1px solid #ddd;
	float: right;
	margin: 0 14px 14px 0;
	background-color: #fff;
}
.buttons {
  clear: both;
  border: 0px solid;
  margin: 5px;
}
.button-continue {
  margin: 5px;
  border: 1px solid #aaa;
  background-color: #e2e2f7;
}
.childX {
  display: none;
  margin: 10px 0 15px 10px;
  border-left: 1px dotted;
}
.grandchildX {
  display: none;
}
.grandchildX-header {
  display: none;
  margin: 10px 0 15px 0;
}
.term-category-list {
  font-size: 11px;
  padding-left: 50px;
  padding-bottom: 15px;
}
.term-category-list li {
  font-size:11px;
  list-style-image:url("/images/greendot.gif");
}
.term-category-list li ul {
  padding-left: 70px;
}
.term-category-list li ul li {
  font-size:11px;
  list-style-image:url("/images/greendot.gif");
  line-height: 1em;
}
.names {
  margin: 5px;
  border: 1px dotted;
}
.name_errors {
  font-size: 75%;
  color: red;
  display: none;
}

.section-list ul {
  padding-left: 50px;
}

#screens p {
  padding-left: 10px;
  width: 75%;
}

#screens h1 {
  margin-top:0px;
  font-size:20px;
  margin-bottom:0px;
}

#screens h3 {
  padding-left: 8px;
}

#screens ul li {
  margin:0;
  margin-left:-20px;
  padding:0 0 .5em 0;
  line-height:1.3em;
  list-style-image:url("/images/greendot.gif");
  font-size:11px;
}

#history div {
  /* display: none; */
}

